body {
  position: relative;
  background-color: aquamarine;
}

.page-header {
  display: flex;
  flex-direction: row;
  /* position: absolute; */
}

/* Название книги */
.book-name {
  text-align: center;
  color: black;
  font-size: 32px;
}

/* Номер текущей страницы */
.book-page {
  position: absolute;
  top: 0;
  left: 91%;
  display: inline;
  color: blue;
  font-size: 22px;
}

/* Кнопка НАЗАД - вверх - (к предыдущей странице) */
.btn-up {
  position: fixed;
  top: 50%;
  left: 5%;

  transform: translate(-50%, -50%);
  padding: 20px;
  font-size: 32px;
}

/* Кнопка ВПЕРЕД - вниз - (к следующей странице) */
.btn-down {
  position: fixed;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
  padding: 20px;
  font-size: 32px;
}

/* Блок-тумба для страницы книги */
.page-thumb {
  margin-left: auto;
  margin-right: auto;
  /* width: 1600px; /* Для телевизора */
  width: 80%;
  height: auto;
}

/* Страница книги */
.page-jpg {
  display: block;
  width: 100%;
  object-fit: contain;
  /* object-fit: cover; */
}
